body {
    margin: 0;
}

.red {
    background: red;
    height: 100px;
}
.blue {
    background: blue;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;


}
.green {
    background: green;
    height: 100px;
}


/*
Challenge:
Center the logo and the search field.
*/
.main {
    margin-top: 100px;    
}

.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

}
