/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  
  margin: 0 auto;
  height: auto;
  max-width: 40%; 
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
