<<<<<<< HEAD
.page-content {
  padding: 40px;
  text-align: center;
}

.mdl-textfield {
  width: 80%;
}
=======
.page-content {
  padding: 40px;
  text-align: center;
}

.mdl-textfield {
  width: 80%;
}
>>>>>>> cdd0a2278f1f6f0fd63a8cf35aee59cd34112db9
